[project_info]
experiment_path = "E:/shared_resources/forced_admissions_outpatient/model_training/"

[logger]
@loggers = "multi_logger"

[logger.*.terminal]
@loggers = "terminal_logger"

[logger.*.mlflow]
@loggers = "mlflow_logger"
experiment_name = "fao"
run_name = "None"
postpone_run_creation_to_first_log = True

[logger.*.disk_logger]
@loggers = "disk_logger"
run_path = ${project_info.experiment_path}${logger.*.mlflow.experiment_name}

[trainer]
@trainers = "crossval_trainer"
uuid_col_name = "prediction_time_uuid"
outcome_col_name = "outc_forced_admissions_within_180_days_maximum_fallback_0_dichotomous"
n_splits = 5
group_col_name = "dw_ek_borger"

[trainer.metric]
@metrics = "binary_auroc"

[trainer.training_data]
@data = "parquet_vertical_concatenator"
paths = ["E:/shared_resources/forced_admissions_outpatient/flattened_datasets/structured_feature_set/structured_feature_set.parquet"]
validate_on_init = False

#################
# Preprocessing #
#################
[trainer.preprocessing_pipeline]
@preprocessing = "baseline_preprocessing_pipeline"

[trainer.preprocessing_pipeline.*.split_filter]
@preprocessing = "outcomestratified_split_filter"
splits_to_keep = ["train", "val"]
id_col_name = "dw_ek_borger"

[trainer.preprocessing_pipeline.*.bool_to_int]
@preprocessing = "bool_to_int"

# Filter rows
[trainer.preprocessing_pipeline.*.age_filter]
@preprocessing = "age_filter"
min_age = 18
max_age = 90
age_col_name = "pred_age_in_years"

[trainer.preprocessing_pipeline.*.sufficient_lookahead_filter]
@preprocessing = "window_filter"
timestamp_col_name = "timestamp"
n_days = 180
direction = "ahead"

[trainer.preprocessing_pipeline.*.sufficient_lookbehind_filter]
@preprocessing = "window_filter"
timestamp_col_name = "timestamp"
n_days = 180
direction = "behind"

# Filter columns

## Predictors
[trainer.preprocessing_pipeline.*.remove_age_col]
@preprocessing = "regex_column_blacklist"
* = ["^age"]

[trainer.preprocessing_pipeline.*.lookbehind_combination_suggester]
@suggesters = "lookbehind_combination_filter_suggester"
lookbehinds = ["{10, 30, 180, 365}", "{10, 30, 180}", "{10, 180}", "{10, 180, 365}", "{180}"]
pred_col_prefix = "pred_"

## Outcomes
[trainer.preprocessing_pipeline.*.outcome_selector]
@preprocessing = "filter_columns_within_subset"
subset_rule = "outc_.+"
keep_matching = ".+180.+"

## Remove timestamp columns
[trainer.preprocessing_pipeline.*.temporal_col_filter]
@preprocessing = "temporal_col_filter"

# Validate column assumptions
[trainer.preprocessing_pipeline.*.columns_exist]
@preprocessing = "column_exists_validator"
column_names = ["prediction_time_uuid", "pred_age_in_years", "pred_sex_female"]
[trainer.preprocessing_pipeline.*.column_prefix_count_expectation]
@preprocessing = "column_prefix_count_expectation"
column_expectations = [["outc_", 1], ["prediction_timestamp", 0]]

#############
# Model #
#############

########
# Task #
########
[trainer.task]
@tasks = "binary_classification"

[trainer.task.task_pipe]
@task_pipelines = "binary_classification_pipeline"

[trainer.task.task_pipe.sklearn_pipe]
@task_pipelines = "pipe_constructor"


[trainer.task.task_pipe.sklearn_pipe.*.imputer]
@estimator_steps_suggesters = "imputation_suggester"
strategies = ["most_frequent", "median", "mean", "noop"]

[trainer.task.task_pipe.sklearn_pipe.*.scaler]
@estimator_steps_suggesters = "scaler_suggester"
strategies = ["standard", "minmax", "noop"]

[trainer.task.task_pipe.sklearn_pipe.*.feature_selection]
@estimator_steps_suggesters = "feature_selection_suggester"
score_functions = ["f_classif", "noop"]
percentiles = [5, 10, 15, 20, 40, 60, 80]

[trainer.task.task_pipe.sklearn_pipe.*.model]
@estimator_steps_suggesters = "xgboost_suggester"

[trainer.task.task_pipe.sklearn_pipe.*.model.learning_rate]
low = 1e-8
high = 0.1
logarithmic = True