cruft==2.15.0
lumberman # Pull request management with graphite, written by MB
invoke==2.1.0
lefthook==0.1.2
pre-commit==3.4.0
pyright==1.1.368
pytest-sugar==0.9.7
ruff==0.4.4
pandas-stubs==2.1.1.230928
glances==3.4.0.5