sentence-transformers==2.2.2
#torch==1.13.1
torch==2.1.0
lightning==2.1.0
# to install CUDA enabled torch on overtaci, use the following line
# conda install pytorch=2.1.0 pytorch-cuda=12.1 -c https://exrhel0371.it.rm.dk/api/repo/pytorch -c https://exrhel0371.it.rm.dk/api/repo/nvidia -c https://exrhel0371.it.rm.dk/api/repo/anaconda --override-channels --insecure
transformers==4.30.0



